<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Me</title>
    </head>
    <body>

        <!-- About me page: bio, coursework table, and links to /hello and external sites. -->
        <h1>About Me</h1>


        <!-- Academic background: intro, Spring 2026 course table, and campus involvement. -->
        <h2>What I do at School</h2>

        <p>I am a senior at the <strong>University of Maryland, College Park.</strong> I am majoring in <em>information systems</em>. These are the classes I took that I enjoyed the most: </p>
        <table>
            <tr>
                <th>Course Code</th>
                <th>Course Title</th>
                <th>Semester Taken</th>
            </tr>
            <tr>
                <td>BMGT485</td>
                <td>Project Management</td>
                <td>Fall 2025</td>
            </tr>
            <tr>
                <td>BMGT402</td>
                <td>Database Systems</td>
                <td>Spring 2026</td>
            </tr>
            <tr>
                <td>BMGT380</td>
                <td>Business Law</td>
                <td>Spring 2025</td>
            </tr>
            <tr>
                <td>BMGT394</td>
                <td>Applied Quantitative Analysis</td>
                <td>Spring 2026</td>
            </tr>
        </table>
        <p>In addition to my classes, I am apart of these programs and organizations:</p>
        <ul>
            <li>QUEST Honors Program</li>
            <li>XFoundry</li>
            <li>Startup Shell</li>
        </ul>


        <!-- Hobbies: movie list, links to /hello and external sites. -->
        <h2>What I do outside of school</h2>

        <p>I like to play <strong>pickleball</strong> with <em>my friends</em> and <strong>watch movies</strong> with <em>my family</em>. Here are my top 5 favorite movies this year, in order:</p>
        <ol>
            <li>The Odyssey</li>
            <li>Michael</li>
            <li>Obsession</li>
            <li>Spider-Man: Brand New Day</li>
            <li>Project Hail Mary</li>
        </ol>
        <p>I also like to code and build stuff! Check out my first HTML page <a href="/hello">here</a>.</p>
        <p>You can also check out my GitHub <a href="https://github.com/Kaythecreator" target="_blank">here</a>. One of my other hobbies is to watch <a href="https://www.youtube.com">YouTube</a> videos.</p>
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt="Smith Logo" width="267" height="72">
    
    </body>
</html>